.stat
{
    padding-top: 50px;
    padding-bottom: 50px;
    background-attachment: fixed;
}

.stat i
{
    font-size: 50px;
}

.stat-item h2
{
    font-weight: bold;
    font-size: 40px;
    color: #d33e04;
}

.stat p
{
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
}